@import "tailwindcss";

@theme {
  --color-brand-blue: #003366;
  --color-brand-orange: #ff6600;
  --color-brand-white: #ffffff;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
}